%h2 Listing attendances

%table{border:"1"}
  %tr
    %th
    %th 1
    %th 2
    %th 3
    %th 4
    %th 5
    %th 6

  - @calendars.each_with_index do |calendar,i|
    %tr{:class => calendar.school_day.to_s}
      %td= calendar.school_day
      %td.1
      %td.2
      %td.3
      %td.4
      %td.5
      %td.6

%br

= link_to 'New Attendance', new_attendance_path
