%h2 時間割

%table{border:"1"}
  %tr
    %th
    %th 1
    %th 2
    %th 3
    %th 4
    %th 5
    %th 6

  - @calendars.each_with_index do |calendar,i|
    %tr{:class => calendar.school_day.to_s}
      %td= calendar.school_day
      - (1..6).each do |i|
        %td{:class => i}
          - attendance = calendar.attendances.select {|a| a.period == i }.first
          - if attendance
            = attendance.subject.name

%br

= link_to 'New Attendance', new_attendance_path
